<!DOCTYPE html>
<html>

<head>
    <link href="sss.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="wrapper1">
            <div class="left">
                <div class="left1">
                    <div class="left-img">
                        <img class="book" src="book.jpg">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right-top">
                    <div class="right-top-left">
                        <p class="right-top-left-1">ICT101.TEST-TIS</p>
                        <p class="right-top-left-2">NHẬP MÔN INTERNET VÀ ELEARNING</p>
                    </div>
                    <div class="right-top-right">
                        <span class="right-top-right-1">Chưa cài đặt thời gian</span>
                    </div>
                </div>
                <div class="right-bot">
                    <div class="right-bot-up">
                        <div class="right-bot-up-left">
                            <p class="right-bot-up-left-1">GIẢNG VIÊN</p>
                            <p class="right-bot-up-left-2">Chưa có</p>
                        </div>
                        <div class="right-bot-up-space"></div>
                        <div class="right-bot-up-right"></div>
                    </div>
                    <div class="right-bot-down">
                        <div class="right-bot-down-left">
                            <p class="right-bot-down-left-1">NHIỆM VỤ HỌC TẬP</p>
                        </div>
                        <div class="right-bot-down-right">
                            <p class="right-bot-down-right-1">CHƯA TẠO LỊCH TUẦN</p>
                            <button type="button" class="button">VÀO LỚP ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>

</html>